@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,700;1,400&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1.3fr 9fr;
    background-color: rgb(32, 30, 30);
}

.menu {
    background-color: rgb(39, 36, 36);
}

.body {
    background-color: rgb(32, 30, 30);
}

::-webkit-scrollbar {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: 90vh;
    align-items: center;
    gap: 30px;
}

.effect {
    color: rgb(255, 0, 76);
    text-shadow: -3px 4px 2px rgba(133,255,230,0.6);
}


.logo {
    font-size: 5em;
    text-align: center;
    background-color: rgb(17, 17, 17);
}

nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 65vh;
}

.nav {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(155, 155, 155);
    cursor: pointer;
    display: inline-block;
}

.nav::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background-color: rgb(155, 155, 155);
    transition: 0.3s;
}

.nav:hover::after {
    width: 100%;
}

.selected {
    color: white;
}

.aboutme {
    width: 50vw;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(155, 155, 155);
}

.text {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(155, 155, 155);
}

a {
    color: rgb(155, 155, 155);
    text-decoration: underline;
}

.link-logo {
    color: rgb(255, 0, 76);
    text-shadow: -3px 4px 2px rgba(133,255,230,0.6);
    text-decoration: none;
}

article {
    background-color: rgb(39, 36, 36);
    padding: 20px;
    border-radius: 10px;
}

.html-tag {
    color: #5D9CC9;
}

i {
    color: white;
}

.btn-menu {
    display: none;
    background-color: transparent;
    border: none;
}

@media screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .btn-menu {
        display: inline;
    }

    main {
        justify-content: start;
        margin-top: 30px;
        height: auto;
    }

    nav {
        display: none;
        height: 200px;
    }
}