* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1.3fr 9fr;
}

.menu {
    background-color: red;
}

.body {
    background-color: rgb(24, 23, 23);
}

.title {
    font-size: 5em;
    color: white;
}